@import "tailwindcss";

@keyframes ticker {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}
@keyframes ticker-reverse {
  0% { transform: translateX(-50%); }
  100% { transform: translateX(0); }
}
.animate-ticker {
  animation: ticker 20s linear infinite;
}
.animate-ticker-reverse {
  animation: ticker-reverse 20s linear infinite;
}